body {
    font-family: 'Arial', sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #faf8ef;
}

h1 {
    color: #776e65;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#gameContainer {
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
}

#gameBoard {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    background-color: #bbada0;
    padding: 10px;
    border-radius: 10px;
}

#score {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #bbada0;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#game-over, #win-message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    z-index: 1;
}

#game-over {
    background-color: rgba(0, 0, 0, 0.75);
}

#new-game-button {
    position: sticky;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #8f7a66;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: max-content;
    z-index: 20;
}

#new-game-button:hover {
    background-color: #9e8b77;
    z-index: 20;
}

#win-message {
    background-color: rgba(255, 215, 0, 0.75);
}

.tile {
    background-color: #cdc1b4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #776e65;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.tile[data-value="2"] { background-color: #eee4da; }
.tile[data-value="4"] { background-color: #ede0c8; }
.tile[data-value="8"] { background-color: #f2b179; color: #f9f6f2; }
.tile[data-value="16"] { background-color: #f59563; color: #f9f6f2; }
.tile[data-value="32"] { background-color: #f67c5f; color: #f9f6f2; }
.tile[data-value="64"] { background-color: #f65e3b; color: #f9f6f2; }
.tile[data-value="128"] { background-color: #edcf72; color: #f9f6f2; }
.tile[data-value="256"] { background-color: #edcc61; color: #f9f6f2; }
.tile[data-value="512"] { background-color: #edc850; color: #f9f6f2; }
.tile[data-value="1024"] { background-color: #edc53f; color: #f9f6f2; }
.tile[data-value="2048"] { background-color: #edc22e; color: #f9f6f2; }
.tile[data-value="4096"] { background-color: #3c3a32; color: #f9f6f2; }
